*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}

#nav{
	background-color: white;
	width: 100%;
	height: 100px;
	padding-top: 3%;
	border-color: #2b2b2b;
}

.navbar{
	margin-bottom: 0px;
}

.logo-nav{
	margin-left: 150px;
}

.hero{
	background-image: url(../img/taxi.jpg);
	width: 100%;
	height: 110vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.caja{
	padding-top: 15%;
}

.box{
	background-color: #f7b617;
	color: white;
	float: right;
}

.y-box{
	padding-left: 10%;
	height: 320px;
	padding-top: 3%;
}

.logo{
	width: 20%;
}

h5{
	margin-top: 20px;
}

input{
	background: transparent; 
	border: none; 
	outline: 0;
}

.linea{
	border-bottom: 1px solid white;
	width: 120px;
}

.linea-txt{
	display: inline-block;
	margin-right: 50px;
}

.boton{
	background-color: #ffffff;
	color: #2b2b2b;
	font-weight: bold;
	border: 1px solid #FFBE00;
	border-radius: 8px;
	margin-top: 20px;
}

.informacion{
	background-color: #f7b617;
	color: white;
	width: 100%;
	height: 80vh;
}

.info{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 85%;
	height: 70vh;
	margin-top: 30px;
}

.celular{
	margin-top: 30px;
}

h2{
	font-weight: bold;
}

.txt-informacion{
	margin-top: 100px;
}

#map{
	width: 50%;
	height: 50vh;
	border: 2px solid black;
}